<form class="form" action="result" method="post">
     
    
    <div>Simle Quick Survey</div>

    <div>
    <table>
        <tr>
            <td>Your name: </td>
            <td><input type = "text" name ="name"> </td>

        </tr>
        <tr>
            <td>How would you rate this page?</td>
            <td> <input type = "radio" name="rate" value="nice">nice</td><br>
            <td> <input type = "radio" name="rate" value="good">Good</td><br>
            <td> <input type = "radio" name="rate" value="excellent">Excellent</td><br>
        </tr>
    </table>
    </div>
</form>
